.NavStyle {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid black;
  max-height: 10vh;
  max-width: 100vw;
  background-color: rgb(146, 86, 86);
}

.InnerNav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(146, 86, 86);
  max-height: 10vh;
}

.NavText {
  margin-left: 50px;
  text-decoration: none;
  color: white;
  background-color: rgb(146, 86, 86);
  max-height: 10vh;
}
